:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-color: #ffffff;
    --focus-color: #2196f3;
    --hero-bcg: #2f303a;
    --footer-bcg: #2f303a;
    --studio-text-color: #000000;
    --contacts-text-color: #757575;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --filter-button-color: #f5f4fa;
}

* {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: var(--third-color);
}

ul,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid red; */
}

/* стили для header */

.header {
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    /* align-items: center; */
}

.logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--focus-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header .studio {
    color: var(--studio-text-color);
}

.site-nav {
    display: flex;
}

.site-nav .link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .current {
    color: var(--focus-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--focus-color);
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts .link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--contacts-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--focus-color);
}

/* стили для footer */

.footer {
    background-color: var(--footer-bcg);
}

.footer .container {
    padding-top: 60px;
}

.footer .studio {
    color: var(--third-color);
}

.footer .logo {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    padding-bottom: 60px;
}

.address .map {
    color: var(--third-color);
    text-decoration: none;
}

.address .map:hover,
.address .map:focus {
    color: var(--focus-color);
}

.address .link {
    color: var(--footer-contact);
    text-decoration: none;
}

.address .link:hover,
.address .link:focus {
    color: var(--focus-color);
}

.address-list-item {
    margin-bottom: 9px;
}

/* стили index.html main  */

.hero {
    background-color: var(--hero-bcg);
}

.hero .title {
    color: var(--third-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-style: normal;
    background: var(--focus-color);
    color: var(--third-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    border: none;
}

.button:hover,
.button:focus {
    cursor: pointer;
    background: #188ce8;
}

.advantages .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages .content {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

.team {
    background-color: var(--filter-button-color);
}

.activities .title,
.team > .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
}

.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.team-list .content {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

/* стили для portofolio.html main */

.filter-button .button {
    background: var(--filter-button-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
}

.filter-button .button:hover,
.filter-button .button:focus {
    background: var(--focus-color);
    color: var(--third-color);
}

.examples-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-list .content {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}
